/* Navbar */
.dropdown-menu{
    border-radius: 10px;
    background-color: #176338;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #d7a03a;
    color: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.nav-item{
    padding: 0 10px;
}
.navbar-brand,
.nav-link {
    color: #d7a03a !important;
    padding-right: 50%;
}
.navbar-brand:hover,
.nav-link:hover {
    color: #00b950 !important;
}

.nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #176338;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.nav-link.contact-us {
    color: white !important;
    background-color: #d7a03a;
    border-radius: 15px;
}
.nav-link.contact-us:hover {
    background-color: #00b950;
    box-shadow: 10px;
}

nav {
    transition: all 0.4s ease-in-out;
}

.myClass {
    background-color: white;
    transition: all 0.4s ease-in-out;
}

div#jumbotron {
    background-color: #176338;
    color: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* End Navbar */

/* Carousel */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 58%;
}
.carousel-caption > h1 {
    font-family: Anton;
    font-size: 62px;
}
/* End Carousel */

/* Start Team */

/* End Team */

/* Start FAQ */
.accordion-body{
    background-color: #E7F1FF;
}
/* End FAQ */

/* Ultility */
#button-mod {
    border-radius: 10px;
    background-color: #d7a03a;
    border-color: #d7a03a;
}
#button-mod:hover {
    border-color: #176338;
    background-color: #176338;
    border-width: -1px;
}
#color-mod {
    color: #d7a03a;
}

.under-line::after {
    content: "";
    display: block;
    border-bottom: 3px solid #d7a03a;
    width: 20%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.btn-to-up {
    background-color: #d7a03a;
    border-radius: 100px;
}
.btn-to-up:hover {
    background-color: #176338;
    border: 1px solid #d7a03a;
    color:#d7a03a;
    box-shadow: inset 0px 0px 0px 4px #d7a03a;
}
/* End Ultility */

/* Start Medsos */
.social-icon {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 27px;
    margin-right: 11px;
    cursor: pointer
}

.social-icon {
    transition: 0.4s all;
}

.social-icon:hover i{
    color: #ffffff;
    transform: scale(1.4);
}
/* End Medsos */

/* Start Our Service */
.service {
    position: relative;
    /* width: 100%; */
}

.service-image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.service-caption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.service:hover .service-image {
    opacity: 0.6;
}
  
.service:hover .service-caption {
    opacity: 1;
}
  
.caption-text {
    background-color: rgba(23, 99, 56, 0.8);
    color: #fff;
    font-size: 16px;
}

/* End Our Service */


/* Text Alignment */
p.text-justify {
    margin: 0;
    text-align: justify;
}
/* End Text ALignment */

/* Mobile Version */
@media (max-width: 991.98px) {
    .navbar {
        background-color: white;
    }

    .carousel-caption {
        transform: translateY(-50%);
        bottom: 0;
        top: 50%;
    }

    .service-caption{
        opacity: 1;
    }
}

@media (max-width: 300px) {
    .caption-text h1{
        font-size: 18px;
    }
    .caption-text {
        font-size: 12px;
    }
}

/* End Mobile Version */
